<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form name="form" (ngSubmit)="onLogin()" novalidate>
        <div class="form-group">
            <label for="username">User name</label>
            <input type="text" class="form-control" name="userName" [(ngModel)]="model.userName" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" required />
        </div>
        <div class="form-group">
            <button class="btn-space" type="submit">Login</button>            
            <button [routerLink]="['/register']">Register</button>
            <button [routerLink]="['/']">Cancel</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />            
        </div>
    </form>
</div>

<!--
<amexio-window [show-window]="'showLoginWindow'" [footer]="true" [footer-align]="'left'"
               type="window">
      <amexio-header>
        Login...
      </amexio-header>
      <amexio-body>
        <amexio-row>
          <amexio-column [size]="4">
            <amexio-text-input [field-label]="'User name'" name="userName" [(ngModel)]="model.userName"
                               [place-holder]="'Enter user name'"
                               [enable-popover]="true"
                               [icon-feedback]="true"
                               [allow-blank]="false"
                               [error-msg]="'Please enter user name'">
            </amexio-text-input>
          </amexio-column>
        </amexio-row>
        <amexio-row>
          <amexio-column [size]="4">
            <amexio-password-input [enable-popover]="true" [(ngModel)]="model.password"
                                   [field-label]="'Password'" name ="password"
                                   [place-holder]="'Enter Password'"
                                   [allow-blank]="false" [error-msg] ="'Please enter password'"
                                   [icon-feedback]="true"> 
            </amexio-password-input>
          </amexio-column>
        </amexio-row>
      </amexio-body>
      <amexio-action>
            <amexio-column [size]="4">
                <amexio-button [label]="'Login'" [type]="'green'" [tooltip]="'Login'" [icon]="'fa fa-sign-in'"
                class="btn-space" (click)="onLogin()">
                </amexio-button>            
                <amexio-button [label]="'Register'" [type]="'theme-backgroundcolor'" [tooltip]="'Create a new account'" 
                            [icon]="'fa fa-pencil-square-o'" [routerLink]="['/register']">
                </amexio-button>
                <amexio-button [label]="'Cancel'" [type]="'theme-backgroundcolor'" [tooltip]="'Cancel'" 
                            [icon]="'fa fa-times'" [routerLink]="['/']">
                </amexio-button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> 
            </amexio-column>
      </amexio-action>
</amexio-window> -->