<div class="concepts-grid">
    <div class="center">
        <div class="card">
            <div class="card-header indigo lighten-1 white-text">
                <h4>Concepts</h4>
            </div>
            <div class="card-body">
                <ag-grid-angular style="width: 1000px; height: 400px;"
                    class="ag-fresh"
                    [rowData]="rowData"
                    [columnDefs]="columnDefs"
                    [gridOptions]="gridOptions"
                    (gridReady)="onGridReady($event)"
                    [enableColResize]="true"
                    [enableSorting]="true"
                    [enableFilter]="true"
                    [frameworkComponents]="frameworkComponents"
                    (cellDoubleClicked)="onRowDoubleClicked($event)">
                </ag-grid-angular>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-outline-danger" (click)="onClickRefreshButton()">
                    <i class="fa fa-refresh ml-1"> Refresh</i>
                </button>  
                <button class="btn btn-sm btn-outline-dark-green" (click)="onClickAddButton()">
                    <i class="fa fa-plus ml-1"> Add Concept</i>
                </button>
            </div> 
        </div>
    </div>
</div>
