<div *ngIf="globals.userNameLogged" class="dashboard">

  <div class="dashboard-panel" style="width: 300px; height: 300px;">
    <app-accounts-panel></app-accounts-panel>
  </div>

  <div class="dashboard-panel" style="width: 300px; height: 400px;">
    <app-expenses-panel></app-expenses-panel>
  </div>

  <div class="dashboard-panel" style="width: 350px; height: 220px;">
    <app-accounts-panel></app-accounts-panel>
  </div>

  <div class="dashboard-panel" style="width: 300px; height: 400px;">
    <app-accounts-panel></app-accounts-panel>
  </div>

  <div class="dashboard-panel" style="width: 200px; height: 210px;">
    <app-accounts-panel></app-accounts-panel>
  </div>

  <div class="dashboard-panel" style="width: 250px; height: 180px;">
    <app-accounts-panel></app-accounts-panel>
  </div>

</div>
