<!-- <nav class="navbar navbar-expand-sm bg-light">
    <a class="navbar-brand" [routerLink]="['/']">TotalHero</a>
    <ul *ngIf="globals.userNameLogged" class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/accounts']">Accounts</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/heroes']">Heroes</a></li>
    </ul>
    <ul *ngIf="globals.userNameLogged else notUserLogged" class="nav navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/login']">{{globals.userNameLogged}}</a></li>
        <li class="nav-item">
            <a class="nav-link" 
               [routerLink]="['/']"
               (click)="logout()">Logout</a>
        </li>
    </ul>
    <ng-template #notUserLogged>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Login</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/register']">Register</a></li>
    </ul>
    </ng-template>
</nav> -->

<amexio-nav [enable-side-nav-position]="false" 
  [title]="'MoWiZZ'"	
  [logo]="'assets/images/logos/mowizz-logo.png'">
    <amexio-nav-item position-left
      [type]="'link'" 
      [title]="'Dashboard'"
      [routerLink]="['/dashboard']">
    </amexio-nav-item>
    <amexio-nav-item position-left
      [type]="'link'" 
      [title]="'Accounts'"
      [routerLink]="['/accounts']">
    </amexio-nav-item>
    <amexio-nav-item *ngIf="globals.userNameLogged else notUserLogged" position-right
        [type]="'link'"
        [title]='globals.userNameLogged'
        [routerLink]="['/login']">
    </amexio-nav-item>
    <amexio-nav-item *ngIf="globals.userNameLogged" position-right
        [type]="'link'"
        [title]="'Logout'"
        [routerLink]="['/']"
        (click)="logout()">
    </amexio-nav-item>


    <ng-template #notUserLogged>
        <amexio-nav-item position-right
        [type]="'link'" 
        [title]="'Login'"
        [routerLink]="['/login']">
        </amexio-nav-item>
        <amexio-nav-item position-right
        [type]="'link'" 
        [title]="'Register'"
        [routerLink]="['/register']">
        </amexio-nav-item>
    </ng-template>
</amexio-nav>

<app-messages></app-messages>
<router-outlet></router-outlet>


