<app-success-dialog></app-success-dialog>
<div *ngIf="budget">
    <div class="budget-detail-form">
        <h4>Presupuesto: {{ budget.name }}</h4>
        <form [formGroup]="validatingForm">
            <mat-grid-list cols="4" rowHeight="100px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="full-width-form-field" >
                        <input matInput placeholder="Nombre:" formControlName="name">
                        <div *ngIf="validatingForm.controls.name.touched">
                            <div class="alert alert-danger" *ngIf="validatingForm.controls.name.invalid">El nombre es obligatorio</div>
                        </div>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="full-width-form-field" >
                        <input matInput placeholder="Descripción:" formControlName="description">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-checkbox formControlName="active" style="border:0px;"
                        value="validatingForm.controls['active'].value">En uso
                    </mat-checkbox>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="full-width-form-field">
                        <input matInput [matDatepicker]="startDatePicker" placeholder="Inicio:" formControlName="startDate" [value]=budget.startDate>
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="full-width-form-field">
                        <input matInput [matDatepicker]="endDatePicker" placeholder="Fin:" formControlName="endDate" [value]=budget.endDate>
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="full-width-form-field" >
                        <input matInput placeholder="Creado:" formControlName="created" readonly>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="full-width-form-field" >
                        <input matInput placeholder="Actualizado:" formControlName="updated" readonly>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="full-width-form-field" >
                        <input matInput placeholder="Comentarios:" formControlName="comments">
                    </mat-form-field>
                </mat-grid-tile>

            </mat-grid-list>
        </form>
    </div>

    <div class="card-footer">
        <button class="btn btn-sm btn-outline-elegant" (click)="onClickGoBack()">
            <i class="fa fa-arrow-left ml-1"> Volver</i>
        </button>
        <button class="btn btn-sm btn-outline-danger" (click)="onClickRefresh()" [disabled]="validatingForm.pristine">
            <i class="fa fa-refresh ml-1"> Deshacer</i>
        </button>
        <button class="btn btn-sm btn-outline-dark-green" (click)="onClickSave()" [disabled]="validatingForm.pristine || validatingForm.invalid">
            <i class="fa fa-save ml-1"> Grabar</i>
        </button>
    </div>
</div>

