<div *ngIf="costCentre" class="costcentre-detail">
    <div class="card">
        <div class="card-header indigo lighten-1 white-text">
            <h4>Cost centre: {{ costCentre.name }}</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="validatingForm">                        
                <div class="row">
                    <div class="md-form form-sm col-md-3">
                        <input mdbActive type="text" id="name" class="form-control" required formControlName="name">
                        <label for="name">Name:</label>
                        <div *ngIf="validatingForm.controls['name'].touched">
                            <div class="alert alert-danger" *ngIf="validatingForm.controls['name'].errors?.name">Name is required</div>
                        </div>
                    </div>
                    <div class="md-form form-sm col-md-3">
                        <input mdbActive type="text" id="description" class="form-control" formControlName="description">
                        <label for="description">Description: </label>
                    </div>   
                    <div class="md-form form-sm col-md-1">
                        <mat-checkbox id="active" class="form-control" formControlName="active" style="border:0px;"
                                        value="validatingForm.controls['active'].value">Active
                        </mat-checkbox>
                    </div> 
                </div>          
        
                <div class="row">
                    <div class="md-form form-sm col-md-3">
                        <input mdbActive type="text" id="created" class="form-control" formControlName="created" readonly>
                        <label for="created">Created: </label>
                    </div>
                    <div class="md-form form-sm col-md-3">
                        <input mdbActive type="text" id="updated" class="form-control" formControlName="updated" readonly>
                        <label for="updated">Updated: </label>
                    </div>
                    <div class="md-form form-sm col-md-8">
                        <textarea mdbActive type="text" id="comments" class="md-textarea form-control noBorder" rows="3"
                            formControlName="comments"></textarea>                
                        <label for="comments">Comments:</label>  
                    </div>                       
                </div>
            </form>
        <div class="card-footer">
            <button class="btn btn-sm btn-outline-elegant" (click)="onClickGoBack()">
                <i class="fa fa-arrow-left ml-1"> Back</i>
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="onClickRefresh()" [disabled]="validatingForm.pristine">
                <i class="fa fa-refresh ml-1"> Refresh</i>
            </button>  
            <button class="btn btn-sm btn-outline-dark-green" (click)="onClickSave()" [disabled]="validatingForm.pristine">
                <i class="fa fa-save ml-1"> Save</i>
            </button>
        </div>
    </div>
</div>
