<div class="accounts-grid">
  <div class="center">
      <div class="card">
          <div class="card-header indigo lighten-1 white-text">
              <h4>Cuentas</h4>
          </div>
          <div class="card-body">
            <ag-grid-angular style="width: 900px; height: 350px;"
                class="ag-fresh"
                [rowData]="rowData"
                [gridOptions]="gridOptions"
                (gridReady)="onGridReady($event)"
                [frameworkComponents]="frameworkComponents"
                (cellDoubleClicked)="onRowDoubleClicked($event)">
            </ag-grid-angular>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-outline-danger" (click)="onClickRefreshButton()">
                <i class="fa fa-refresh ml-1"> Deshacer</i>
            </button>
            <button class="btn btn-sm btn-outline-dark-green" (click)="onClickAddButton()">
                <i class="fa fa-plus ml-1"> Añadir Cuenta</i>
            </button>
            <button class="btn btn-sm btn-outline-dark-green" (click)="onClickEditButton()">
                <i class="fa fa-pencil ml-1"> Editar Cuenta</i>
            </button>
          </div>
      </div>
  </div>
</div>