<!-- <ul class="accounts">
  <li *ngFor="let account of accounts">
    <a routerLink="/accounts/{{account._id}}">
      <span class="badge">*</span> {{account.name}}
    </a>
  </li>
</ul> -->
<div>
  <button (click)="onClickAddButton()">Back</button>
</div>
<div class="accounts-grid"> 
  <ag-grid-angular style="width: 900px; height: 200px;"
                  class="ag-fresh"
                  [rowData]="rowData"
                  [columnDefs]="columnDefs"
                  [gridOptions]="gridOptions"
                  (gridReady)="onGridReady($event)"
                  [pagination]="true"
                  [paginationPageSize]="10"
                  [enableColResize]="true"
                  [enableSorting]="true"
                  [enableFilter]="true"
                  
                  (cellDoubleClicked)="onRowDoubleClicked($event)">
  </ag-grid-angular>
</div>

<!-- <div class="accounts-grid table table-striped"> 
  <amexio-datagrid
    class="table table-striped table-sm"
    [enable-column-fiter]="true"
    [height]="200"
    title="Accounts"
    [data]="accounts"
    [page-size] = "10">
    <amexio-data-table-column [data-index]="'name'"
                              [data-type]="'string'"
                              [hidden]="false"
                              [text]="'Name'"
                              [width]="18">
    </amexio-data-table-column>
    <amexio-data-table-column [data-index]="'iban'"
                              [data-type]="'string'"
                              [hidden]="false"
                              [text]="'IBan'"
                              [width]="30">
    </amexio-data-table-column>
    <amexio-data-table-column [data-index]="'comment'"
                              [data-type]="'string'" [hidden]="false"
                              [text]="'Comment'">
    </amexio-data-table-column>
  </amexio-datagrid>
</div> -->