<div *ngIf="transaction" class="transaction-detail">
    <div class="card">
        <div class="card-header indigo lighten-1 white-text">
            <h4>Transaction: {{ transaction.comment }}</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="validatingForm">  
              <mat-grid-list cols="3" rowHeight="100px">

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="full-width-form-field">
                      <input matInput [matDatepicker]="picker" placeholder="Date:" formControlName="date" [value]=transaction.date>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="full-width-form-field">
                    <mat-select placeholder="Transaction type: " formControlName="transactionType">
                        <mat-option *ngFor="let transactionType of transactionTypes" [(value)]=transactionType.value>
                            {{transactionType.name}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                  <mat-form-field class="full-width-form-field" >
                      <input matInput placeholder="Amount:" formControlName="amount">
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="full-width-form-field">
                        <mat-select placeholder="Concept: " formControlName="concept">
                            <mat-option *ngFor="let concept of concepts" [(value)]=concept._id>
                                {{concept.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="3" [rowspan]="1">
                    <mat-form-field class="full-width-form-field">
                        <input matInput placeholder="Comments:" formControlName="comments">
                    </mat-form-field>
                </mat-grid-tile>

              </mat-grid-list>
            </form>
        <div class="card-footer">
            <button class="btn btn-sm btn-outline-elegant" (click)="onClickGoBack()">
                <i class="fa fa-arrow-left ml-1"> Back</i>
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="onClickRefresh()" [disabled]="validatingForm.pristine">
                <i class="fa fa-refresh ml-1"> Refresh</i>
            </button>  
            <button class="btn btn-sm btn-outline-dark-green" (click)="onClickSave()" [disabled]="validatingForm.pristine || validatingForm.invalid">
                <i class="fa fa-save ml-1"> Save</i>
            </button>
        </div>
    </div>
  </div>
  
